# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
env/
ENV/

# Данные и модели
data/
#Trained_models/*.pkl
#Trained_models/*.h5
#Trained_models/*.keras
#*.npz
best_model.h5

# Результаты
results/*.png
results/*.csv
results/*.json

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Streamlit
.streamlit/